@using System.Security.Claims

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    var displayName =
        User.FindFirst("full_name")?.Value ??
        User.FindFirst(ClaimTypes.GivenName)?.Value ??
        User.Identity?.Name ??
        "Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - MatchUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/assets/css/main.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" href="~/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="~/img/icons/apple-touch-icon.png">
</head>

<body>
    <div id="layout">
        <header class="header-2">
            <div class="headerbox">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col col-xl-2">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index" title="Return Home">
                                    <img src="~/img/logo.png" alt="MatchUp Logo" class="logo_img">
                                </a>
                            </div>
                        </div>

                        <div class="col col-xl-10">
                            <nav class="mainmenu">
                                <div class="container">
                                    <ul class="sf-menu" id="menu">
                                        <li class="@(currentController == "Home" ? "current" : "")">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index">Platform Overview</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Recent Results</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Featured Match</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Open To Game Teams</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">Platform</a>
                                            <div class="sf-mega">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5><i class="fa fa-futbol-o" aria-hidden="true"></i> Match Flow</h5>
                                                        <ul>
                                                            <li>
                                                                <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Featured Match</a>
                                                            </li>
                                                            <li>
                                                                <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Recent Results</a>
                                                            </li>
                                                            <li>
                                                                <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Find Open Teams</a>
                                                            </li>
                                                            <li>
                                                                <a asp-controller="Notifications" asp-action="Index">Notifications</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <h5><i class="fa fa-users" aria-hidden="true"></i> Teams</h5>
                                                        <div class="img-hover">
                                                            <img src="~/img/blog/1.jpg" alt="Teams" class="img-responsive">
                                                            <div class="overlay">
                                                                <a asp-controller="Teams" asp-action="Index">+</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <h5><i class="fa fa-user" aria-hidden="true"></i> Players</h5>
                                                        <div class="img-hover">
                                                            <img src="~/img/blog/2.jpg" alt="Players" class="img-responsive">
                                                            <div class="overlay">
                                                                <a asp-controller="Players" asp-action="Index">+</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <h5><i class="fa fa-bell" aria-hidden="true"></i> Activity</h5>
                                                        <div class="img-hover">
                                                            <img src="~/img/blog/3.jpg" alt="Notifications" class="img-responsive">
                                                            <div class="overlay">
                                                                <a asp-controller="Notifications" asp-action="Index">+</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="@(currentController == "Teams" ? "current" : "")">
                                            <a asp-controller="Teams" asp-action="Index">Teams</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a asp-controller="Teams" asp-action="Index">Teams List</a>
                                                </li>
                                                @if (User.Identity?.IsAuthenticated == true)
                                                {
                                                    <li>
                                                        <a asp-controller="Teams" asp-action="Mine">My Teams</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Teams" asp-action="Create">Create Team</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>

                                        <li class="@(currentController == "Players" ? "current" : "")">
                                            <a asp-controller="Players" asp-action="Index">Players</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a asp-controller="Players" asp-action="Index">Players List</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Fixtures</a>
                                        </li>

                                        <li>
                                            <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Results</a>
                                        </li>

                                        <li>
                                            <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Open To Game</a>
                                        </li>

                                        @if (User.Identity?.IsAuthenticated == true)
                                        {
                                            <li class="@(currentController == "Notifications" ? "current" : "")">
                                                <a asp-controller="Notifications" asp-action="Index">Notifications</a>
                                            </li>

                                            <li>
                                                <a href="#">@displayName</a>
                                                <ul class="sub-current">
                                                    <li>
                                                        <a asp-controller="Teams" asp-action="Mine">My Teams</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Notifications" asp-action="Index">My Notifications</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="document.getElementById('logoutFormDesktop').submit(); return false;">Logout</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="@(currentController == "Account" ? "current" : "")">
                                                <a href="#">Account</a>
                                                <ul class="sub-current">
                                                    <li>
                                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Account" asp-action="Register">Register</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </nav>

                            <a class="mobile-nav" href="#mobile-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <form id="logoutFormDesktop" asp-controller="Account" asp-action="Logout" method="post" style="display:none;">
                @Html.AntiForgeryToken()
            </form>

            <form id="logoutFormMobile" asp-controller="Account" asp-action="Logout" method="post" style="display:none;">
                @Html.AntiForgeryToken()
            </form>
        }

        <div id="mobile-nav">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Platform Overview</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Recent Results</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Featured Match</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Open To Game Teams</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Platform</a>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Featured Match</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Recent Results</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Find Open Teams</a>
                        </li>
                        <li>
                            <a asp-controller="Notifications" asp-action="Index">Notifications</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-controller="Teams" asp-action="Index">Teams</a>
                    <ul>
                        <li>
                            <a asp-controller="Teams" asp-action="Index">Teams List</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li>
                                <a asp-controller="Teams" asp-action="Mine">My Teams</a>
                            </li>
                            <li>
                                <a asp-controller="Teams" asp-action="Create">Create Team</a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a asp-controller="Players" asp-action="Index">Players</a>
                    <ul>
                        <li>
                            <a asp-controller="Players" asp-action="Index">Players List</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Fixtures</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Results</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Open To Game</a>
                </li>

                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li>
                        <a asp-controller="Notifications" asp-action="Index">Notifications</a>
                    </li>
                    <li>
                        <a href="#">@displayName</a>
                        <ul>
                            <li>
                                <a asp-controller="Teams" asp-action="Mine">My Teams</a>
                            </li>
                            <li>
                                <a asp-controller="Notifications" asp-action="Index">My Notifications</a>
                            </li>
                            <li>
                                <a href="#" onclick="document.getElementById('logoutFormMobile').submit(); return false;">Logout</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#">Account</a>
                        <ul>
                            <li>
                                <a asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

        @RenderBody()

        <footer id="footer">
            <div class="top-footer">
                <div class="col-lg-12">
                    <div class="logo-footer">
                        <h2>Match Up</h2>
                    </div>
                </div>

                <ul class="social">
                    <li>
                        <div><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></div>
                    </li>
                    <li>
                        <div><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></div>
                    </li>
                    <li>
                        <div><a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a></div>
                    </li>
                    <li>
                        <div><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></div>
                    </li>
                    <li>
                        <div><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></div>
                    </li>
                </ul>
            </div>

            <div class="links-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-5 col-sm-5">
                            <div class="info-links">
                                <h5>Platform</h5>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
                                    <li><a asp-controller="Players" asp-action="Index">Players</a></li>
                                    <li><a asp-controller="Notifications" asp-action="Index">Notifications</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-7 col-sm-7">
                            <div class="info-links">
                                <h5>Team Management</h5>
                                <ul class="columns">
                                    <li><a asp-controller="Teams" asp-action="Index">Teams List</a></li>
                                    <li><a asp-controller="Teams" asp-action="Mine">My Teams</a></li>
                                    <li><a asp-controller="Teams" asp-action="Create">Create Team</a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Open To Game</a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Featured Match</a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Recent Results</a></li>
                                    <li><a asp-controller="Notifications" asp-action="Index">Activity</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">Platform Overview</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-5 col-sm-5">
                            <div class="info-links">
                                <h5>Match Flow</h5>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="open-home-teams">Find Opponent</a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="featured-match">Fixtures</a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="recent-results">Results</a></li>
                                    <li><a asp-controller="Notifications" asp-action="Index">Approvals</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-7 col-sm-7">
                            <div class="info-links">
                                <h5>Account</h5>
                                <ul class="columns">
                                    @if (User.Identity?.IsAuthenticated == true)
                                    {
                                        <li><a asp-controller="Teams" asp-action="Mine">My Teams</a></li>
                                        <li><a asp-controller="Notifications" asp-action="Index">My Notifications</a></li>
                                        <li><a asp-controller="Players" asp-action="Index">Browse Players</a></li>
                                        <li><a asp-controller="Teams" asp-action="Index">Browse Teams</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-controller="Teams" asp-action="Index">Explore Teams</a></li>
                                        <li><a asp-controller="Players" asp-action="Index">Explore Players</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-down">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>&copy; @DateTime.UtcNow.Year MatchUp . All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/theme-scripts.js"></script>
    <script type="text/javascript" src="~/assets/js/theme-main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>